.Explore {
  & .search-filter-wrapper {
    display: grid;
    place-items: center;
    margin: 2rem 0;
    & .search-wrapper {
      position: relative;
      display: grid;
      place-items: center;
      & input {
        background-color: #d4d4d45f;
        margin-bottom: 2rem;
        text-align: center;
        border-radius: 100px;
        border: none;
        width: 700px;
        padding: 1rem 1rem;
        outline-color: var(--secondary-color);
      }
      & button {
        display: grid;
        place-items: center;
        position: absolute;
        top: 8px;
        right: 6px;
        padding: 0.6rem;
        border-radius: 50%;
        border: none;
        color: white;
        background-color: var(--secondary-color);
      }
    }
  }
  & .filter-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & .select-cusine {
      display: flex;
      gap: 1rem;
      align-items: center;
      & select {
        padding: 0.5rem;
        background-color: var(--highlight-color);
        border: none;
        border-radius: 10px;
      }
    }
  }
  & .load-wrapper {
    display: grid;
    place-items: center;
    padding: 1rem;
    & button {
      padding: 20px 39px;
      border-radius: 16px;
      background-color: var(--primary-color);
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}
