/* Frage: wo hatten wir den Schrift Style? Muss ich da noch Roboto importieren oder war dass schon? */
/* CSS Muss ich noch in die andere schreibweise umschreiben */
.Footer {
  & .footer-container {
    display: flex;
    padding: 5%;
  }

  & .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0;
  }

  & .icon-box {
    display: flex;
    gap: 10px;
  }

  & .icon img {
    height: 60px;
    width: 60px;
    margin-left: 1rem;
  }
  & .utility-box a {
    
    margin-bottom: 0.8rem;
  }

  & .footer-box h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  & .footer-box h4 {
    margin: 0.7rem;
  }

  & .organick-box p {
    margin-bottom: 3rem;
  }
  

  
  @media (max-width: 870px) {
    & .footer-container {
      flex-direction: column; /* Änderung auf column für untereinander */
    }
    & .footer-box {
      margin-bottom: 1.5rem;
    }
    & .organick-box {
      order: 1; /* Ändert die Reihenfolge auf 1 */
      text-align: center;
    }

    & .contact-box {
      order: 2; /* Ändert die Reihenfolge auf 2 */
    }

    & .utility-box {
      order: 3; /* Ändert die Reihenfolge auf 3 */
    }
   
  }
}
