.MonthlyCard {
  & .rezept-separator {
    border-top: 1px solid #ccc;
    margin: 20px 10rem;
  }

  & .monthly-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  & .monthly-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid #ccc; 
  }

  & .monthly-header {
    text-align: center;
    padding: 10px;
    background-color: #eee; 
  }

  & .monthly-body {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  & .monthly-body img {
   height: 10rem;
  }

  & .monthly-body div.left {
    flex: 1; 
    margin-right: 10px; 
  }

  & .monthly-body div.right {
    flex: 2; 
    margin-left: 10px; 
    margin-top: 2rem ;
    padding: 1rem;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
  }

  & .monthly-body div.right button{
    margin-top: 2rem ;
    background: linear-gradient(to bottom right, #7eb693,  rgba(0, 128, 172, 1));
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

  & .monthly-body div.right button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #7eb693, .125rem .125rem 1rem #7eb69386;
  }
  
  & .monthly-body div.right button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #7eb693, .125rem .125rem 1rem #7eb69386;;
  }

  /* Responsive */
 
  @media (max-width: 870px) {
    & .monthly-container {
      width: 100%; 
    }
  
    & .monthly-box {
      width: 80%; 
    }
  }

  @media (max-width: 600px) {
    & .monthly-container {
      width: 100%; 
    }
    & .monthly-body {
      flex-direction: column; 
    }
    & .monthly-body div.left {
      align-items: center; 
      margin-right: 10px; 
      text-align: center;
    }
    & .monthly-body img {
      height: 10rem; 
      margin: 0 auto; 
      display: block; 
    }
  }
}

